# Backend
backend/app/vendor/
backend/app/composer.lock

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.DS_Store
frontend/npm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.log
